footer.py-5.bg-dark.mt-auto.mb-0
  .container
    .row
      .col-lg-6.text-center.text-lg-left.my-auto
        ul.list-inline
          li.list-inline-item
            a.text-white(href='/') Home
          li.list-inline-item
            a.text-white(href='/privacy') Privacy Policy