html(lang='en')
  head
    title MusiSense &raquo; Privacy Policy
    meta(name='description' content='Making Sense of Music.')
    link#favicon(rel='icon' href='https://glitch.com/edit/favicon-app.ico' type='image/x-icon')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    // import the webpage's stylesheet
    link(rel='stylesheet' href='/static/style.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')

    // import the webpage's client-side javascript file
    script(src='/static/client.js' defer)
  body
    .jumbotron.jumbotron-fluid
      .container
        h1.display-3
          small MusiSense &raquo; Privacy Policy
        p.lead How we use your data
    .container
      h2.h1 So how do we use your data?
      p.lead We don't even collect your data yet, so there is nothing to worry about :D
    include includes/footer